doctype html
html(lang=en)
  head
    meta(charset='UTF-8')
    title Test

  body
    a-scene(stats)
      a-assets
        a-mixin(
          id='voxel',
          geometry='primitive: box; height: 1; width: 1; depth: 1;',
          snap='offset: 0.5 0.5 0.5; snap: 1 1 1'
        )

        img#sky(src='img/sky1.jpg')

      a-entity(player)

      a-entity(world)

      a-entity(voxel-loader)

      a-sky(
        theta-length='100',
        material='src: #sky',
      )

      a-entity#base(
        mixin='voxel',
        position='500 500 1',
        geometry='buffer: false; skipCache: true',
        material='color: green',
      )
