doctype html
html(lang=en)
  head
    meta(charset='UTF-8')
    title Test

  body
    a-scene
      a-assets
        a-mixin(
          id='voxel',
          geometry='primitive: box; height: 1; width: 1; depth: 1;',
          material='color: green',
          snap='offset: 0.5 0.5 0.5; snap: 1 1 1'
        )

        img#sky(src='img/sky.jpg')

      a-entity(
        position='0 0 5',
        rotation='0 300 0',
      )
        a-camera(gamepad-controls)

      a-plane(
        rotation='-90 0 0',
        width='1000',
        height='1000',
        color='#0C0C0C',
      )

      a-sky(
        theta-length='100',
        material='src: #sky',
      )

      a-entity(voxel-loader)
