doctype html
html(lang=en)
  head
    meta(charset='UTF-8')
    title Test

  body
    a-scene(stats, fog='type: linear; color: #000; near: 20; far: 40')
      a-assets
        img#sky(src='img/sky.jpg')
        video#aaaaa(loop='true', src='img/aaa.mp4')

      a-light(
        type='ambient',
        color='#eee',
      )

      a-entity(player)

      a-entity(world)

      a-entity(voxel-loader)

      a-entity(custom-events)

      a-sky#aaaaaSky(
        theta-length='100',
        theta-start='20',
        radius='5000',
        material='src: #aaaaa; fog: false; opacity: 0.5',
        phi-start='180',
        phi-length='180',
        visible='false',
      )

      a-entity
        a-light(
          type='directional',
          position='-1 1 0',
          color='#fff',
        )
        a-sky(
          theta-length='100',
          material='src: #sky; fog: false',
          radius='5500',
        )
        a-animation(
          attribute='rotation',
          dur='900000',
          to='0 360 0',
          repeat='indefinite',
          easing='linear',
        )
